In [ ]:
%pip install networkx==2.6.3

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting networkx==2.6.3
  Downloading networkx-2.6.3-py3-none-any.whl (1.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 26.4 MB/s eta 0:00:00
Installing collected packages: networkx
  Attempting uninstall: networkx
    Found existing installation: networkx 3.0
    Uninstalling networkx-3.0:
      Successfully uninstalled networkx-3.0
Successfully installed networkx-2.6.3

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
from itertools import combinations
from matplotlib import pylab
import networkx as nx
import pandas as pd
import numpy as np
import io

In [ ]:
!pwd

/content

In [ ]:
#dataset we use in this project from kaggle -> https://www.kaggle.com/datasets/rounakbanik/the-movies-dataset
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Learning from Networks Project/data.csv')

In [ ]:
df.head()

,Unnamed: 0,level_0,index,id,original_title,revenue,cast,firstStar,secondStar,thirdStar
0,0,0,0,862,Toy Story,373554033.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...",Tom Hanks,Tim Allen,Don Rickles
1,1,1,1,8844,Jumanji,262797249.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...",Robin Williams,Jonathan Hyde,Kirsten Dunst
2,2,2,2,15602,Grumpier Old Men,0.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...",Walter Matthau,Jack Lemmon,Ann-Margret
3,3,3,3,31357,Waiting to Exhale,81452156.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...",Whitney Houston,Angela Bassett,Loretta Devine
4,4,4,4,11862,Father of the Bride Part II,76578911.0,"[{'cast_id': 1, 'character': 'George Banks', '...",Steve Martin,Diane Keaton,Martin Short

In [ ]:
df=df.drop(["Unnamed: 0","level_0","index"],axis=1)

In [ ]:
df.head()

,id,original_title,revenue,cast,firstStar,secondStar,thirdStar
0,862,Toy Story,373554033.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...",Tom Hanks,Tim Allen,Don Rickles
1,8844,Jumanji,262797249.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...",Robin Williams,Jonathan Hyde,Kirsten Dunst
2,15602,Grumpier Old Men,0.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...",Walter Matthau,Jack Lemmon,Ann-Margret
3,31357,Waiting to Exhale,81452156.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...",Whitney Houston,Angela Bassett,Loretta Devine
4,11862,Father of the Bride Part II,76578911.0,"[{'cast_id': 1, 'character': 'George Banks', '...",Steve Martin,Diane Keaton,Martin Short

In [ ]:
df.isnull().sum() #checking if there is any emty cells especially in gross and the actors columns

id                0
original_title    0
revenue           0
cast              0
firstStar         0
secondStar        0
thirdStar         0
dtype: int64

In [ ]:
df.columns

Index(['id', 'original_title', 'revenue', 'cast', 'firstStar', 'secondStar',
       'thirdStar'],
      dtype='object')

In [ ]:
#this function for the saving created graph
def save_graph(graph,file_name):
  #initialze Figure
  plt.figure(num=None, figsize=(20, 20), dpi=80)
  plt.axis('off')
  fig = plt.figure(1)
  pos = nx.shell_layout(graph)
  nx.draw_networkx_nodes(graph,pos)
  nx.draw_networkx_edges(graph,pos)
  cut = 1.00
  xmax = cut * max(xx for xx, yy in pos.values())
  ymax = cut * max(yy for xx, yy in pos.values())
  plt.xlim(0, xmax)
  plt.ylim(0, ymax)
  
  plt.savefig(file_name,bbox_inches="tight")
  pylab.close()
  del fig
  
  #Assuming that the graph g has nodes and edges entered
  #it can also be saved in .svg, .png. or .ps formats

In [ ]:
# creating empty graph
G = nx.Graph()

In [ ]:
# takes two parameters which are; DataFrame and graph
#nodes are the actors and the edges represent if the actors have been in the same movie 
def createNetwork(df, G):
    # iterating DataFrame
    for movie in range(0, len(df)):
        firstStar = df.loc[movie, 'firstStar']
        secondStar = df.loc[movie, 'secondStar']
        thirdStar = df.loc[movie, 'thirdStar']

        # adding star nodes to network
        G.add_node(firstStar)

        G.add_node(secondStar)

        G.add_node(thirdStar)

        # getting duo combinations of stars
        combinationsOfStars = list(combinations([firstStar, secondStar, thirdStar], 2))

        # adding edge(connection) to stars which played together
        for eachCombination in combinationsOfStars:
            G.add_edge(eachCombination[0], eachCombination[1])

    # returning final graph and final DataFrame
    return G


G = createNetwork(df,G)

In [ ]:
G.number_of_edges()

115529

In [ ]:
G.number_of_nodes()

46039

Centrality measures are used to determine the relative importance of nodes in a network or graph. There are several different types of centrality measures, including:

*   Degree centrality: measures the number of connections a node has to other nodes in the network.

*   Closeness centrality: measures the average distance of a node to all other nodes in the network. Nodes with a high closeness centrality are more connected to other nodes and are closer to the center of the network.

*   Betweenness centrality: measures the number of times a node lies on the shortest path between two other nodes. Nodes with a high betweenness centrality play a central role in connecting other nodes in the network.

*   Eigenvector centrality: measures the influence of a node based on the influence of its neighbors. Nodes with a high eigenvector centrality are connected to other highly influential nodes.


*   PageRank centrality: measures the importance of a node based on the number of incoming links from other nodes and the importance of those nodes. 

These centrality measures provide different perspectives on the importance of nodes in a network, and can be used in various applications such as identifying key players in a social network or detecting critical nodes in a transportation network.We used the degree centrality measures to see which actors playing significant roles in the network

In [ ]:
degreeCent=nx.degree_centrality(G) #calculating degree of centralities of each node

In [ ]:
#for calculating closeness centrality first we need compute the shortest path lengths between all nodes
#shortest_paths = dict(nx.all_pairs_shortest_path_length(G))
#closeCent={}
#for node in G.nodes():
#    distances = [shortest_paths[node][neighbor] for neighbor in G.nodes() if neighbor != node]
#    closeCent[node] = sum(distances) / (len(G.nodes()) - 1)

#because of the network is too large it couldnt finished before the time out of colab

In [ ]:
# betCent=nx.betweenness_centrality(G)  
#because of the network is too large it couldnt finished before the time out of colab thats why we analyze only degree centrality of the actors

In [ ]:
save_graph(G,"graph.png")

In [ ]:
#assigning new columns which contains the degree centraliry of the each actors exists in the each line
firstStarDeg,secondStarDeg,thirdStarDeg=[],[],[]
for i in range(len(df)):
    firstStarDeg.append(degreeCent[df.firstStar[i]])
    secondStarDeg.append(degreeCent[df.secondStar[i]])
    thirdStarDeg.append(degreeCent[df.thirdStar[i]])

df=df.assign(firstStarDegCent=firstStarDeg,secondStarDegCent=secondStarDeg,thirdStarDegCent=thirdStarDeg)

In [ ]:
df.head()

,id,original_title,revenue,cast,firstStar,secondStar,thirdStar,firstStarDegCent,secondStarDegCent,thirdStarDegCent
0,862,Toy Story,373554033.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...",Tom Hanks,Tim Allen,Don Rickles,0.002107,0.000912,0.000217
1,8844,Jumanji,262797249.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...",Robin Williams,Jonathan Hyde,Kirsten Dunst,0.001998,0.000130,0.001173
2,15602,Grumpier Old Men,0.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...",Walter Matthau,Jack Lemmon,Ann-Margret,0.001759,0.001738,0.001173
3,31357,Waiting to Exhale,81452156.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...",Whitney Houston,Angela Bassett,Loretta Devine,0.000261,0.000804,0.000369
4,11862,Father of the Bride Part II,76578911.0,"[{'cast_id': 1, 'character': 'George Banks', '...",Steve Martin,Diane Keaton,Martin Short,0.001477,0.001455,0.000586

In [ ]:

#assigning new columns which contains the betweennes centraliry of the each actors exists in the each line
# firstStarBet,secondStarBet,thirdStarBet=[],[],[]
# for i in range(len(df)):
#     firstStarBet.append(betCent[df.firstStar[i]])
#     secondStarBet.append(betCent[df.secondStar[i]])
#     thirdStarBet.append(betCent[df.thirdStar[i]])
# 
# df=df.assign(firstStarDegBet=firstStarBet,secondStarDegBet=secondStarBet,thirdStarBet=thirdStarBet)
# 
# 
# #assigning new columns which contains the closeness centraliry of the each actors exists in the each line
# 
# firstStarClose,secondStarClose,thirdStarClose=[],[],[]
# for i in range(len(df)):
#     firstStarClose.append(closeCent[df.firstStar[i]])
#     secondStarClose.append(closeCent[df.secondStar[i]])
#     thirdStarClose.append(closeCent[df.thirdStar[i]])
# 
# data=df.assign(firstStarClose=firstStarClose,secondStarClose=secondStarClose,thirdStarClose=thirdStarClose)

In [ ]:
# sorting closeness centrality results
#sortCloseCent = {k: v for k, v in sorted(closeCent.items(), key=lambda item: item[1])}
#printing the top three actors according to the closeness centrality
#for i in range(3):
#  print(sortCloseCent[i])
# sorting betweenness centrality results
#sortBetCent = {k: v for k, v in sorted(betCent.items(), key=lambda item: item[1])}
#printing the top three actors according to the betweenness centrality
#for i in range(3):
#  print(sortBetCent[i])

In [ ]:
from scipy.stats.morestats import sort
# sorting degree centrality results
sortDegCent = {k: v for k, v in sorted(degreeCent.items(), key=lambda item: item[1])}
j=1
#printing the top three actors according to the degree centrality
for i,k in sortDegCent.items():
  if j<4:
    print(i,k)
  j+=1

Darleen Asevedo 2.1721186845649247e-05
Reikichi Kawamura 2.1721186845649247e-05
Hattie 2.1721186845649247e-05

In [ ]:
# Darleen Asevedo,Reikichi Kawamura and Hattie are top actors according to degree centrality
interestedStars = ["Darleen Asevedo", "Reikichi Kawamura","Hattie"]  

# This function returns a subgraph of the `final network` with only the `interestedStars` and their neighbors.
def getStarsAndNeighbors(finalNetwork, interestedStars):

    starsToDraw = []
    
    # Iterate over the interestedStars
    for star in interestedStars:
    
        # Append the interestedStars to nodesToDraw
        starsToDraw.append(star)
        
        # Iterate over all the neighbors of star
        for nbr in finalNetwork.neighbors(star):
        
            # Append the neighbors of star to nodesToDraw
            starsToDraw.append(nbr)
            
    return finalNetwork.subgraph(starsToDraw)

# Extract the subgraph with the interestedStars
plotSubgraph = getStarsAndNeighbors(G, interestedStars)

# Draw the subgraph to the screen
nx.draw(plotSubgraph,with_labels=True)
plt.savefig("SubGraphOfNicolasCage.png", format="PNG")
plt.show()

In [ ]:
from scipy.stats import spearmanr
targetValues = ['revenue']
df=df.drop(["id","cast","firstStar","secondStar","thirdStar"],axis=1)
columnsWithoutTarget = [column for column in df if column not in targetValues]
dfCorrelations = {}
for targetValue in targetValues:
    for column in columnsWithoutTarget:
        rho,p_value = spearmanr(df[column],df[targetValue])
        if p_value < 0.05 :
            print("correlation coefficient is : {} and p-value is : {}".format(rho,p_value))
            print("{} has statistically significance correlation with {} : rejected null hypothesis".format(column,targetValue))
            print("\n")
            print("------------------******************------------------------")
            dfCorrelations[targetValue + " :" + column] =[rho,p_value]
        else:
            print("correlation coefficient is : {} and p-value is : {}".format(rho,p_value))
            print("{} has not statistically significance correlation with {} : not rejected null hypothesis ".format(column,targetValue))
            print("\n")
            print("------------------******************------------------------")
            dfCorrelations[targetValue +  " :" + column] =[rho,p_value]

correlation coefficient is : -0.013590997966734344 and p-value is : 0.006001901681729046
original_title has statistically significance correlation with revenue : rejected null hypothesis


------------------******************------------------------
correlation coefficient is : 0.2531989404572362 and p-value is : 0.0
firstStarDegCent has statistically significance correlation with revenue : rejected null hypothesis


------------------******************------------------------
correlation coefficient is : 0.2617466268265079 and p-value is : 0.0
secondStarDegCent has statistically significance correlation with revenue : rejected null hypothesis


------------------******************------------------------
correlation coefficient is : 0.2578159084744823 and p-value is : 0.0
thirdStarDegCent has statistically significance correlation with revenue : rejected null hypothesis


------------------******************------------------------

Our findings indicate a strong relationship between the degree centralities of movie stars and the box office revenue of the films they star in. This correlation suggests that the popularity and influence of a movie's lead actors play a significant role in determining the financial success of a film. This highlights the importance of casting well-known and highly connected stars in the film industry. These results provide valuable insight for film producers and investors, as they can use this information to make informed decisions about casting and marketing strategies.Moreover, the results of this correlation analysis can be used to predict the potential box office revenue of a movie based on the degree centralities of its lead actors. By understanding the relationship between star power and box office success, film producers can make more strategic decisions about which actors to cast, and how to market their films to maximize revenue. Furthermore, these findings can also be used to guide talent management and representation, as they demonstrate the value of investing in and promoting actors with high degree centralities. In conclusion, the significant correlation between degree centralities of stars and movie box office revenue provides a valuable tool for decision making in the film industry.